<div class="container-fluid pt-4 px-4" th:fragment="content">
    <div class="row g-4">
        <div class="col-10 offset-1">
            <div class="bg-secondary rounded h-100 p-4">
                <form action="/import-paiement" method="post" enctype="multipart/form-data">
                    <h6>Importation de paiement</h6>
                    <div class="mb-3">
                        <label for="paiements" class="form-label">Paiements</label>
                        <input type="file" class="form-control bg-dark" name="paiementsMultipart" id="paiements">
                    </div>
                    <p><button class="btn btn-primary" type="submit">Valider</button></p>
                </form>
            </div>
        </div>
    </div>
</div>