<div class="container-fluid pt-4 px-4" th:fragment="content">
    <div class="row g-4">
        <div class="col-10 offset-1">
            <div class="bg-secondary rounded h-100 p-4">
                <form action="/import-maison-travaux" method="post" enctype="multipart/form-data">
                    <h1>Importation de donnees</h1>
                    <div class="mb-3">
                        <label for="maisontravaux" class="form-label">Types de maison et travaux</label>
                        <input type="file" class="form-control bg-dark" name="maisontravaux" id="maisontravaux">
                    </div>
                    <div class="mb-3">
                        <label for="devis" class="form-label">Devis</label>
                        <input type="file" class="form-control bg-dark" name="devisMultipart" id="devis">
                    </div>
                    <p><button class="btn btn-primary" type="submit">Valider</button></p>
                </form>
            </div>
        </div>
    </div>
</div>