<div class="container-fluid pt-4 px-4" th:fragment="content">
    <div class="row g-4">
        <div class="col-10 offset-1">
            <div class="bg-secondary rounded h-100 p-4">
                <h6>Erreurs dans le fichier: <span th:text="${fichierMaison}"></span></h6>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Ligne</th>
                            <th>Message d'erreur</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="erreur:${erreursMaison}">
                            <td th:text="${erreur.ligne}"></td>
                            <td th:text="${erreur.message}"></td>
                        </tr>
                    </tbody>
                </table>
                <h6>Erreurs dans le fichier: <span th:text="${fichierDevis}"></span></h6>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Ligne</th>
                            <th>Message d'erreur</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="erreur:${erreursDevis}">
                            <td th:text="${erreur.ligne}"></td>
                            <td th:text="${erreur.message}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>